---
title: Archives
---

<h2 id="indicators">Archived Releases</h2>

<% data.cloudstack.versions.archives.each do |branch| %>
	<% branch.each do |name,versions| %> 
* <%= name %>
	<% versions.each do |old_version| %>
  + [apache-cloudstack-<%= old_version %>.src.tar.bz2](https://archive.apache.org/dist/cloudstack/releases/<%= old_version %>/apache-cloudstack-<%= old_version %>-src.tar.bz2) [ [PGP](https://archive.apache.org/dist/cloudstack/releases/<%= old_version %>/apache-cloudstack-<%= old_version %>-src.tar.bz2.asc) ][ [MD5](https://archive.apache.org/dist/cloudstack/releases/<%= old_version %>/apache-cloudstack-<%= old_version %>-src.tar.bz2.md5) ][ [SHA512](https://archive.apache.org/dist/cloudstack/releases/<%= old_version %>/apache-cloudstack-<%= old_version %>-src.tar.bz2.sha) ]
  	<% end %>
 <% end %>
<% end %>
  + [apache-cloudstack-4.0.1-incubating.src.tar.bz2](http://archive.apache.org/dist/incubator/cloudstack/releases/4.0.1-incubating/apache-cloudstack-4.0.1-incubating-src.tar.bz2) [ [PGP](http://archive.apache.org/dist/incubator/cloudstack/releases/4.0.1-incubating/apache-cloudstack-4.0.1-incubating-src.tar.bz2.asc) ][ [MD5](http://archive.apache.org/dist/incubator/cloudstack/releases/4.0.1-incubating/apache-cloudstack-4.0.1-incubating-src.tar.bz2.md5) ][ [SHA512](http://archive.apache.org/dist/incubator/cloudstack/releases/4.0.1-incubating/apache-cloudstack-4.0.1-incubating-src.tar.bz2.sha) ]
  + [apache-cloudstack-4.0.0-incubating.src.tar.bz2](http://archive.apache.org/dist/incubator/cloudstack/releases/4.0.0-incubating/apache-cloudstack-4.0.0-incubating-src.tar.bz2) [ [PGP](http://archive.apache.org/dist/incubator/cloudstack/releases/4.0.0-incubating/apache-cloudstack-4.0.0-incubating-src.tar.bz2.asc) ][ [MD5](http://archive.apache.org/dist/incubator/cloudstack/releases/4.0.0-incubating/apache-cloudstack-4.0.0-incubating-src.tar.bz2.md5) ][ [SHA512](http://archive.apache.org/dist/incubator/cloudstack/releases/4.0.0-incubating/apache-cloudstack-4.0.0-incubating-src.tar.bz2.sha) ]

<h3>CloudMonkey release archives</h3>

<% data.cloudstack.cloudmonkey.archives.each do |old_version| %>
  * [apache-cloudstack-cloudmonkey-<%= old_version %>](https://archive.apache.org/dist/cloudstack/releases/cloudmonkey-<%= old_version %>/)
<% end %>

Releases of CloudStack as a Citrix project prior to the project's acceptance into the incubator can be found on SourceForge.net:

Please note the releases listed below are NOT Apache project releases.  These links are being provided to the user community, as a convenience only.

- [Binaries for Red Hat Enterprise Linux 6.2 and CentOS 6.2](http://sourceforge.net/projects/cloudstack/files/CloudStack%20Acton/3.0.2/CloudStack-oss-3.0.2-1-rhel6.2.tar.gz/download)
- [Binaries for Ubuntu 10.04 LTS](http://sourceforge.net/projects/cloudstack/files/CloudStack%20Acton/3.0.2/CloudStack-oss-3.0.2-1-ubuntu10.04.tar.gz/download)
